@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<div class="container">
    <h3>Thông tin sinh viên đã đăng ký</h3>
    <div class="form-group">
        Mã số sinh viên: @ViewBag.Id
    </div>
    <div class="form-group">
        Họ và tên: @ViewBag.Name
    </div>
    <div class="form-group">
        Điểm: @ViewBag.Marks
    </div>
    @Html.ActionLink("Quay Lại", "/Index")
</div>
